@inherits UmbracoViewPage<Umbraco.Elasticsearch.Samplev74.Features.Search.Models.SearchResultModel<Umbraco.Elasticsearch.Samplev74.Features.Search.Queries.Article.ArticleSearchResult, Umbraco.Elasticsearch.Samplev74.Features.Search.Queries.Article.ArticleSearchParameters, Umbraco.Elasticsearch.Samplev74.Features.Search.Queries.Article.ArticleDocument>>

<div>
    <h2>Search Results</h2>
    <ul>
        @foreach (var item in Model.Results.Documents)
        {
            <li>
                <h4>@item.Title</h4>
                <span>@item.Summary</span>
            </li>
        }
    </ul>
</div>