<script>

    function customController($scope, $routeParams, notificationsService, searchResource) {
        function deleteIndex() {
            notificationsService.success('Deleting Index', 'Index delete has started');
            searchResource.deleteIndex().then(function () {
                notificationsService.success("Index Delete", "Index was deleted");
            }, function() {
                notificationsService.error("Index Delete", "Index delete Failed");
            });
        }

        function createIndex() {
            notificationsService.success('Creating Index', 'Index create has started');
            searchResource.createIndex().then(function () {
                notificationsService.success("Index Create", "Index was created");
            }, function () {
                notificationsService.error("Index Create", "Index create Failed");
            });
        }

        $scope.deleteIndex = deleteIndex;
        $scope.createIndex = createIndex;
    }
</script>ipt>

<div ng-controller="customController">
    <umb-panel>
        <umb-header>
            <h1>Manage Search</h1>
        </umb-header>

        <div class="umb-panel-body umb-scrollable row-fluid">
            <div class="tab-content form-horizontal" style="padding-bottom: 90px">
                <div class="umb-pane">
                    <button class="btn btn-danger" data-ng-click="deleteIndex()">Delete Index</button>
                </div>
                <div class="umb-pane">
                    <button class="btn btn-primary" data-ng-click="createIndex()">Create Index</button>
                </div>
            </div>
        </div>
    </umb-panel>
</div>