<umb-dialog data-ng-controller="umbElasticsearchUpdateIndexNodeController">
    <div class="umb-dialog-body">
        <div class="umb-pane">
            This will re-index the current node into the active index, are you sure?
        </div>
    </div>
    <div class="umb-dialog-footer btn-toolbar umb-btn-toolbar">
        <button class="btn btn-link" data-ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" data-ng-click="update()">Re-index</button>
    </div>
</umb-dialog>