<div class="umb-pane" ng-controller="umbElasticsearchController">
    <div class="tab-content" data-ng-hide="available">
        <p style="font-style: italic; color: red">The Elasticsearch integration is not active</p>

        <p>Please see the integration instructions for further information</p>
        <hr />
    </div>
    <div class="tab-content" data-ng-show="available">
        <fieldset>
            <legend>Index information</legend>
            <div class="umb-sub-header">
                <button class="btn btn-info btn-icon" data-ng-click="refreshIndexList()"><i class="icon icon-refresh"></i> Refresh</button>
                <button data-ng-disabled="busy" class="btn btn-warning btn-icon" data-ng-click="addIndex()"><i class="icon icon-add"></i> Add Index</button>
            </div>

            <div class="umb-tab-pane-inner">
                <div class="umb-listview">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <td>Name</td>
                                <td>Documents</td>
                                <td>Queries</td>
                                <td>Status</td>
                                <td>Actions</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-hide="info">
                                <td colspan="5" style="text-align: center; background-color: khaki">
                                    <span style="font-style: italic; text-align: center">Unable to find indices matching known index pattern, use the <strong>add index</strong> option</span>
                                </td>
                            </tr>
                            <tr data-ng-show="info" ng-repeat="item in info track by $index" data-ng-style="item.Status == 'Active' ? {'font-weight': 'bold'} : {}">
                                <td ng-bind="item.Name"></td>
                                <td ng-bind="item.DocCount"></td>
                                <td ng-bind="item.Queries"></td>
                                <td><span class="text-success" ng-bind="item.Status"></span></td>
                                <td>
                                    <div>
                                        <span data-ng-show="item.Status != 'Active'">
                                            <button data-ng-disabled="busy" data-ng-click="activateIndex(item.Name)" class="btn btn-small btn-primary">Activate</button>
                                            <button data-ng-disabled="busy" data-ng-click="rebuildContentIndex(item.Name)" class="btn btn-small btn-primary">Build Content</button>
                                            <button data-ng-disabled="busy" data-ng-click="rebuildMediaIndex(item.Name)" class="btn btn-small btn-primary">Build Media</button>
                                        </span>
                                        <span data-ng-hide="item.Status == 'Active'">
                                            <button data-ng-disabled="busy" data-ng-click="deleteIndex(item.Name)" class="btn btn-small btn-danger">Delete</button>
                                        </span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Active Settings</legend>
            <dl>
                <dt>Host Version</dt>
                <dd data-ng-bind="versionNumber"></dd>
                <dt>Host</dt>
                <dd data-ng-bind="settings.Host"></dd>
                <dt>Index</dt>
                <dd data-ng-bind="settings.IndexName"></dd>
                <dt>Environment Prefix</dt>
                <dd data-ng-bind="settings.IndexEnvironmentPrefix"></dd>
            </dl>
        </fieldset>
        <fieldset>
            <legend>Active Content Services</legend>
            <span data-ng-hide="contentServices" style="font-style: italic">No media indexing services registered</span>
            <ul data-ng-show="contentServices">
                <li data-ng-repeat="service in contentServices">
                    <strong>{{service.DocumentTypeName}}</strong> via <strong>{{service.Name}}</strong> (Docs: {{service.Count}})
                </li>
            </ul>
        </fieldset>
        <fieldset>
            <legend>Active Media Services</legend>
            <span data-ng-hide="mediaServices" style="font-style: italic">No media indexing services registered</span>
            <ul data-ng-show="mediaServices">
                <li data-ng-repeat="service in mediaServices">
                    <strong>{{service.DocumentTypeName}}</strong> via <strong>{{service.Name}}</strong> (Docs: {{service.Count}})
                </li>
            </ul>
        </fieldset>
    </div>
</div>
